@tailwind base;
@tailwind components;
@tailwind utilities;

.italianno-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-text {
    width: 500px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.home {
    color: #252432;
    font-weight: 500;
}

.shop,
.about_us {
    color: #8987A1;
}

.cart {
    color: #000000;
    font-weight: 200;
}

.nav-an {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.icon-flex {
    display: inline;
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    width: 1175px;
    height: 500px;
}

.span-heading {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #000000;
    font-weight: bold;

}

.banner-heading {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #E95A08;
    font-weight: bold;
}

.banner-text {
    margin-top: 75px;
}

.flowers {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #E95A08;
    font-weight: bold;
}

.banner-para-text {
    display: flex;
    gap: 15px;
}

.banner-text-para1 {
    color: #7a7878;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

.card {
    width: 1175px;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 160px;
}

.heading-text {
    margin-bottom: 50px;
}

.card-heading,
.card-text {
    text-align: center;

}

.card_btn {
    background-color: #E95A08;
    color: white;
    height: 50px;
    width: 270px;
}

.card-container {
    width: 1175px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px auto;
    padding: 20px;
}

.card-img {
    width: 270px;
    height: 324px;
}

.card-info1 {
    text-align: center;
    font-size: 20px;
}

.card-info2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.our {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #E95A08;
    font-weight: bold;
}

.card-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #6c6b6b;
    font-weight: normal;
}

.plants {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #000000;
    font-weight: bold;
}

.challenging_part {
    display: flex;
    margin-top: 100px;
    gap: 75px;
    width: 1175px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.challenge-img {
    width: 540px;
    height: 600px;
}

.challenging_text {
    margin-top: 25px;
}

.challenging_descrip {
    list-style-type: disc;
}

.challenging_heading {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    color: #000000;
}

.challenging_descrip {}

.trusted-icon {
    width: 286px;
    height: 286px;
    position: absolute;
    margin-top: -725px;
    margin-left: 350px;
}

.latest {
    width: 890px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 300px;
}

.latest_heading {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    color: #000000;
}

.latest_para {
    color: #7a7878;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-align: center;
}

.extra {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #E95A08;
    font-weight: bold;
}

.background_special {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.left-img {
    gap: 50px;
}

.img-1 {
    background-repeat: no-repeat;
    background-image: url('./assets/deal-bloom.png');
    width: 370px;
    height: 205px;
    border-radius: 14px;
    padding: 75px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.img-2 {
    background-repeat: no-repeat;
    background-image: url('./assets/deal-ana.png');
    width: 370px;
    height: 205px;
    border-radius: 14px;
    padding: 75px;
    margin-right: 20px;

}

.img-3 {
    background-repeat: no-repeat;
    background-image: url('./assets/deal-zabo.png');
    width: 755px;
    height: 425px;
    border-radius: 14px;
    padding: 175px;
}

.img-3 line-1 line-2 {
    font-size: 40px;
}

.line-1,
.line-2 {
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}

.line-3,
.line-4 {
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}

.line-2 {
    text-decoration: underline;
}

.line-4 {
    text-decoration: underline;
}
.last-main{
    width: 1600px;
    height: 540px;
    margin: 50px;
}
.center-heading{
 font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 220px;
}
.center-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}
.center-btn{
    background-color: #E95A08;
    color: white;
    height: 50px;
    width: 190px;
}
.center-work{
    display: inline;
    width: 840px;
    height: 50px;
    gap: 0px;
}
.last-main{
    background-repeat: no-repeat;
}
.center-input{
    width: 640px;
    height: 50px;
    padding: 15px;
    margin-top: 5px;
}

.footer{
    display: flex;
    width: 1130px;
    height: 250px;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 50px;
}

 .footer_text{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #6c6b6b;
    font-weight: normal; 
 }

.footer_center_left,.footer_center_right{
   font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #6c6b6b;
    font-weight: normal; 
}
.footer_center_left, .footer_center_right{
    display: flex;
    gap: 20px;
}
.footer_right{
    display: flex;
    gap: 20px;
    
}
.link{
    width: 36px;
    height: 36px;
    margin-bottom: 20px;
}

.footer_center{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.footer_center_left,.footer_center_right{
    display: flex;
    flex-direction: column;
}



@media (max-width: 576px) {
    .header{
        display: flex;
        align-items: center;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .nav-image{
        margin-left: 275px;
        margin-top: 10px;
    }
    .nav-an{
        display: none;
    }
    .nav-flex{
       display: flex;
       
    }
    .nav-bar{
        gap: 110px;
        
    }
    .banner-container{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        gap: 20px;
    }
    .banner-image{
        width: 100%;
        height: 250px;
        order: 1;
    }
    .banner-text{
        order: 2;
        
    }
    .banner-para-text{
    width: 100%;
    }
    .banner-text-para1{
        display: flex;
        width: 310px;
       
    }
    .heading-text{
        bottom: 100px;
    }
    .card{
        margin-top: 300px;
    }
    .card-heading{
        margin-left: -910px;
    }
    .card-text{
        width: 400px;
        height: 50px;
        margin-left: -666px;
    }
    .card-container {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px auto;
    padding: 20px;
    margin-left: -172px;
}
}